<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('../index.ejs') %>
		<script src="./script/web3.js"></script>
		<script src="./js/proccess.js"></script>
		<title>Home</title>
	</head>
	<body>
		<h2>Mini Game</h2>
		<a href="/users/register" class="badge badge-primary">register user</a>
		<button class="btn btn-primary" id="connectMM">Connect metaMask</button>
	</body>

	<script></script>
</html>
