<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('../index.ejs') %>
		<script src="../js/proccess.js"></script>
		<title>Create user</title>
	</head>
	<body>
		<form>
			<div class="form-group">
				<label for="formGroupExampleInput">Name</label>
				<input type="text" class="form-control" id="name" placeholder="Tony" name="name" />
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput2">Email</label>
				<input type="text" class="form-control" id="email" placeholder="example@example.com" name="email" />
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput3">Phone</label>
				<input type="text" class="form-control" id="phone" placeholder="0123456789" name="phone" />
			</div>
			<button type="button" class="btn btn-primary" id="submit">Register</button>
			<button class="btn btn-primary" id="connectMM">Connect metaMask</button>
		</form>
		<div class="table">
			<table id="tableDs">
				<thead>
					<tr>
						<th scope="col">Address</th>
						<th scope="col">ID</th>
					</tr>
				</thead>
				<tbody class="row" id="tableBody"></tbody>
			</table>
		</div>
	</body>
	<script></script>
</html>
